.header{
    background-color: rgb(222, 233, 229);
    backdrop-filter: blur(0px);
}

.header-opa{
    background-color:rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(24px)
}

.my-badge {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #E15843;
    border-radius: 26px;
    padding: 1px 6px;
    width: 17px;
    height: 17px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    margin-top: -28px;
    margin-left: -5px;
}

.header .align-me {
    display: flex;
    align-items: center;
    text-align: center;
} 

.logo{
    margin-left: 10%;
}

.color-green{
    color: rgb(60, 184, 60)
}

.logo-name{
margin-left: 10px;
}

.logo-desc{
    font-size: 14px;
}

.no-underline {
    text-decoration: none;
  }

  .menu .nav-link{
    position: relative;
    display: block;
    padding: 0px;
  }

  .menu .nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 1rem);
    height: 2px;
    background: linear-gradient(to right, #2E4003, #2E4003, #2E4003, #2E4003);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s ease-in-out;
    margin-left: 0.5rem;
  }
  
  .menu .nav-link:hover::before {
    transform: scaleX(1);
    margin-left: 0.5rem;
  }
  .navbar-nav .nav-link {
    color: #2E4003 !important;
}
.menu-text-format {
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 20px !important;
}

.mt-5{
  margin-top: 5px;
}