.container-page {
    margin-top: 100px;
    /*background-color: rgb(251, 253, 252);*/
    min-height: 90vh;
    width: 100%!important;
}

.container-page .align-me {
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: 30%;
} 

.card-product {
    background-color: transparent!important;
    border-color: transparent!important;
}

.container-card-product {
    padding-left:10px;
    padding-top: 10px;
}

.card-image-mine {
    position: relative;
}

.image_overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    border-radius: 16px;
    opacity: 0;
    transition: opacity 0.25s;
    display: flex;
    justify-content: center;
}
.image_overlay:hover{
    opacity: 1 !important;
}

.blog-button {
    border-radius: 16px !important;
    width:max-content;
    font-style: normal;
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 30px !important;
    opacity: 0;
    align-self: flex-end;
    transition: opacity 0.5s;
    /* transform: translateY('0px'); */
    transition: transform 0.5s;
}
.image_overlay:hover .blog-button {
    opacity: 1 !important;
    transform: translateY(-20px);
    transition: transform 0.5s;
}

#changeButtomSelectNo{    
    border-radius: 8px;
    width:max-content;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    left:50px;
    height:max-content;
    background-color: #739F07;
    color:white;
    border-color: transparent;
}

#changeButtomSelect{    
    border-radius: 8px;
    width:max-content;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    left:50px;
    height:max-content;
    background-color: white;
    color: #739F07;
    border-color: #739F07;
    ;
}