.row {
  width: 100%;

  --bs-gutter-x: 0 !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.pointer {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.no-bold {
  font-weight: 400;
}

.align-center {
  text-align: center;
}

.btn,
.btn-primary {
  color: #ffffff !important;
  border: 2px solid #739f07 !important;
  background-color: #739f07 !important;
}
.btn-outline-primary {
  color: #739f07 !important;
  border: 2px solid #739f07 !important;
  background-color: white !important;
}
.btn-primary:hover {
  color: #2e4003 !important;
  border: 2px solid #2e4003 !important;
  background-color: white !important;
}
