
.row {
  width: 100%;

  --bs-gutter-x: 0 !important;
  padding-right: 0!important;
  padding-left: 0!important;
  margin-left: 0!important;
  margin-right: 0!important;
}


.pointer {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}



